@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./font/Gilroy-Bold.woff2');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./font/Gilroy-Medium.woff2');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('./font/Gilroy-Semibold.woff2');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFF;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}



main {

}

header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 500;
}
    


nav {
    padding-top: 10px;
    width: 533px;
    display: flex;
    justify-content: space-between; 
}

.header_logo {
    width: 137px;
    height: 40px;
    flex-shrink: 0;
}

.navigation {
    color: #000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.navigation_home{
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.main-content {
    margin-top: 84px;
    display: flex;
    gap: 40px;

}

.main-content_wrapper h1{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    
}

.main-content_wrapper p{
    width: 466px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin-top: 17px;
}
.Button_meta {
    margin-top: 37px;
    display: flex;
    gap: 108px;
    align-items: center;
}
button{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    border: none;
}
.Button_meta a{
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    
    
}
.main-content_img {
    margin-top: 82,71px;
    width: 545px;
    height: 375px;
    flex-shrink: 0;
}

.footer_img{
    width: 160px;
    height: 50px;
}

article{
    padding-top: 97px;
    padding-bottom: 96px;
    margin-top: 162px;
    display: flex;
    justify-content: space-between;
}

.cards_facilities{
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card_facil {
    padding-left: 30px;
    width: 340px;
    height: 291px;
    flex-shrink: 0;
}

.card_facil img {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-bottom: 25px;
    margin-top: 40px;
}

.card_facil h3 {
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.card_facil p {
    margin-bottom: 25px;
    width: 310px;
    height: 42px;
    flex-shrink: 0;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.card_facil a {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}
.shadow_card {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);

}
.container_wrap{
    background: #FAFAFA;
}

.cards_reasons{
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards_reasons h2{
    margin-top: 90px;
    color: #000;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
}

.cards_reasons p{
    
    margin-top: 19px;
    width: 682px;
    height: 48px;
    flex-shrink: 0;
    color:  #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}

.card_reas {
    width: 370px;
    height: 549px;
    flex-shrink: 0;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shadow_cardres{
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.card_reas img{
    width: 385px;
    height: 289px;
    flex-shrink: 0;

}

.card_reas h3{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    
}

.card_reas p{
    width: 280px;
    height: 63px;
    margin-top: 22px;
    margin-bottom: 39px;
    color: #AAA;
    font-size: 15px;
    line-height: 22px; 
    text-align: center;
}

.card_reas button{
    margin-bottom: 50px;
}

.card_reas_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card_reas_blocks {
    margin-top: 70px;
    margin-bottom: 100px;
    display:flex;
    justify-content: center;
    gap: 30px;
}



